<div class="card" *ngIf="card.thingType === cardsType.LINK">
  <!-- Image à la une -->
  <div class="card-image flex-vertical">
    <img src="{{card.image}}" alt="{{card.imageAlt}}" class="card-image-content" appImgFallback>

    <p nz-typography class="card-image-desc">{{card.desc}}</p>
    <a nz-typography nzEllipsis href="{{card.url}}" target="_blank" class="card-image-desc">{{card.url}}</a>
  </div>

  <!-- Fin du corp de notre carte -->
</div>

<ng-container *ngIf="card.thingType === cardsType.MARKDOWN">
  <app-markdown-card [readonly]="true" [cardMode]="true" [content]="card.markdown" [id]="card.id"></app-markdown-card>
</ng-container>
