.card-image {
  width: 100%;
  height: 100%;
}

.card-excerpt {
  width: 100%;
  height: 100%;
}

:host:hover {
  border: 3px solid #B8C3D3;
  cursor: pointer; // pour overrider stack exchange il faut le important
}
