<div class="card" *ngIf="card.thingType === cardsType.LINK">
  <!-- Image à la une -->
  <div class="card-image flex-vertical">
    <img src="{{card.image}}" alt="{{card.imageAlt}}" style="max-height: 50%; object-fit: scale-down;"/>
    <p>{{card.desc}}</p>
    <div>{{card.url}}</div>
  </div>

  <!-- Fin du corp de notre carte -->
</div>

<ng-container *ngIf="card.thingType === cardsType.MARKDOWN">
  <app-markdown-card [readonly]="true" [cardMode]="true" [content]="card.markdown" [id]="card.id"></app-markdown-card>
</ng-container>
