
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, 98%);
    padding-left: 10px;

  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fit, 32%);
    padding-left: 10px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 10px;
    grid-template-columns: repeat(auto-fit, 19%);
  }

}
.container {
  padding-top: 10px;
  display: grid;
  grid-gap: 10px;
}

.search {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;

  .input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
}

