/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 45%);
    justify-content: center;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    padding-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 45%);
    justify-content: center;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 30%);
    justify-content: center;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    padding-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 19%);
    justify-content: center;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    padding-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 19%);
    justify-content: center;
  }

}

.search {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #f5f5f5;

  .input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
}

