
:host {
  overflow: auto;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--component-background);
  border-radius: 8px;
}

.modal-editor-right-column {
  display: flex;
  flex-direction: column;
  background-color: var(--component-background);
  height: 100%;
  padding: 10px;

  .modal-editor-right-column-label {
    color: #c2c2c2;

  }

}

.modal-editor-left-column {
  flex-grow: 2;
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  position: relative;
  .description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #000000b3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: white;
    }
    .link {
      color: white;
    }
  }
}

.modal-editor-left-column.markdown {
  text-align: left;
}

.modal-editor {
  display: flex;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .modal-editor-img-preview {
    object-fit: cover;
  }

  .modal-editor-left-column {
    max-width: 80%;

  }

  .modal-editor-right-column {
    width: 20%;

  }

  .close-button {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .modal-editor-img-preview {
    object-fit: scale-down;
  }


  .modal-editor {
    flex-direction: column;
  }

  .close-button {
    position: absolute;
    right: 1%;
    z-index: 10;
  }
}

.modal-editor-img-preview {
  height: 100%;
}

.modal-editor-actions {
  position: absolute;
  top: 90%;
  right: 1%;
  display: flex;
  grid-gap: 10px;
}

.modal-editor-left-column.tweet-content {
  display: grid;
  align-items: center;
  justify-content: center;
}
