<div class="modal-editor">
  <button nz-button (click)="close()" nzType="primary" class="close-button" nzShape="circle"><span nz-icon nzType="close" nzTheme="outline"></span></button>

  <ng-container *ngIf="data.card.thingType === cardsType.MARKDOWN">
    <app-markdown-card class="modal-editor-left-column markdown" [content]="data.card.markdown" [cardMode]="false" [id]="data.card.id" [readonly]="false">

    </app-markdown-card>
  </ng-container>
  <ng-container *ngIf="data.card.thingType === cardsType.LINK">
    <div class="modal-editor-left-column">
      <img src="{{data.card.image}}" alt="{{data.card.imageAlt}}" class="modal-editor-img-preview" appImgFallback/>
      <div>
        <p nz-typography>{{data.card.desc}}</p>
        <a nz-typography nzEllipsis href="{{data.card.url}}" (click)="$event.preventDefault()">{{data.card.url}}</a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.card.thingType === cardsType.TWEET">
    <div class="modal-editor-left-column tweet">

      <div [innerHTML]="data.card.html"></div>
    </div>
  </ng-container>
  <div class="modal-editor-right-column">
    <nz-form-label class="modal-editor-right-column-label label">title</nz-form-label>
    <input nz-input placeholder="title" [(ngModel)]="title"/>
    <nz-form-label class="modal-editor-right-column-label label">Tags</nz-form-label>
    <app-tags-input [(tags)]="tags"></app-tags-input>
    <nz-form-label class="modal-editor-right-column-label label">Comment</nz-form-label>
    <nz-form-item>
      <nz-form-control>
        <nz-textarea-count [nzMaxCharacterCount]="100">
          <textarea rows="4" [(ngModel)]="comment" placeholder="comment" nz-input></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div class="modal-editor-actions">
  <button nz-button (click)="update()" nzType="primary" nzShape="circle"><span nz-icon nzType="save" nzTheme="outline"></span></button>
  <button nz-button (click)="delete(data.card.id)" nzType="primary" nzDanger nzShape="circle"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
</div>
