:host {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}

.modal-editor-right-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.modal-editor-left-column {
  flex-grow: 2;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.modal-editor {
  display: flex;
  height: 100%;
  width: 100%;
}

.modal-editor-img-preview {
  object-fit: scale-down;
  height: 100%;
}

.modal-editor-actions {
  position: absolute;
  top: 90%;
  right: 1%;
  display: flex;
  grid-gap: 10px;
}
