<h1 nz-typography>Sharing to Cogito...</h1>


<button (click)="removeTimeout()" *ngIf="!showTagsAdd" nz-button nzType="primary" class="button-add-tag">add Tag</button>

<app-tags-input *ngIf="showTagsAdd" [(tags)]="tags"></app-tags-input>

<div class="group-button">
  <button (click)="addQuickTag('Read it later')" *ngIf="showTagsAdd" nz-button nzType="primary">Read it later</button>
  <button (click)="addQuickTag('Good to know')" *ngIf="showTagsAdd" nz-button nzType="primary">Good to know</button>
</div>

<button (click)="update()" *ngIf="showTagsAdd" nz-button nzType="primary" class="button-add-tag">Save</button>


