
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  grid-gap: 20px;

}

.group-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
}
.button-add-tag {
  width: 300px;
}
