<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" class="search">
  <input type="text" nz-input placeholder="input search text" [ngModel]="searchValue" (ngModelChange)="search($event)" class="input"/>
</nz-input-group>

<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
</ng-template>
<div class="container" appIntersectionObserverGrid>

  <app-markdown-card [cardMode]="true" [readonly]="false"></app-markdown-card>
  <ng-container *ngFor="let card of filteredResult">
    <div class="active-element" appIntersectionObserverElement
         #intersection="intersection"
         [ngSwitch]="intersection.isIntersecting">
      <app-card *ngSwitchCase="intersection.IS_INTERSECTING" [card]="card"></app-card>
    </div>


  </ng-container>

</div>
