/* You can add global styles to this file, and also import other style files */
@import "@stackoverflow/stacks-editor/dist/styles.css";
@import "@stackoverflow/stacks/dist/css/stacks.css";
@import "~@angular/cdk/overlay-prebuilt.css";
@import (optional, reference) "theme";

// Global style

body {
  background-color: @body-background;
}

.link {
  font-size: 24px;
  color: @text-color;
}

.label {
  text-align: left;
  padding-top: 0;

  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}

.card {
  height: 400px;
  margin: 0px auto;
  background-color: @component-background;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 8px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

// Markdown editor style

.little {
  h1 h2 h3 h4 h5 {
    color: @text-color !important;
  }

  border-radius: 8px;

  .s-btn:not(:hover) {
    color: @text-color !important;

  }

  .s-textarea {
    border-radius: 8px;
    background-color: @component-background;
    color: @text-color !important;
  }

  .s-input, .s-textarea {
    max-height: 400px;
    height: 400px;
  }

  .s-textarea.is-readonly {
    cursor: unset;
    background-color: @component-background;
    color: @text-color;
    border-color: @component-background;
  }

  .is-readonly {
    .ai-center {
      display: none !important;
      background-color: @component-background;
    }
  }
}

.big {
  .s-textarea {
    border-radius: 8px;
    background-color: @component-background;
    color: @text-color;
  }

  .s-input, .s-textarea {
    max-height: 80vh;
    height: 80vh;
  }
}

// CDK Style

@media only screen and (max-width: 991px) {
  .cdk-overlay-pan {
    max-width: none !important;
    max-height: none !important;
    height: 100vh !important;
    width: 100vh !important;
  }

}

// Twitter Style
.tweet-content {
  blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    color: @text-color;
    //border-style: solid;
    //border-width: 1px;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }

  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }

  blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }

  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }

}

