/* You can add global styles to this file, and also import other style files */
@import "@stackoverflow/stacks-editor/dist/styles.css";
@import "@stackoverflow/stacks/dist/css/stacks.css";
@import "~@angular/cdk/overlay-prebuilt.css";

.little {
  .s-input, .s-textarea {
    max-height: 400px;
    height: 400px;
  }

  .s-textarea.is-readonly {
    cursor: unset;
    background-color: white;
    color: black;
  }

  .is-readonly {
    .ai-center {
      display: none !important;
      background-color: white;
    }
  }
}

.big {
  .s-input, .s-textarea {
    max-height: 70vh;
    height: 70vh;
  }
}

.card {
  height: 400px;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0px 5px 5px #555;
  border-radius: 8px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}
