<!--<app-vertical-menu></app-vertical-menu>-->

<nz-input-group nzSearch nzSize="large" class="search">
  <input type="text" nz-input placeholder="Search cogito, shortcut : shift + f" [ngModel]="searchValue" (ngModelChange)="search($event)" class="input"
         #searchInput />
</nz-input-group>

<div class="container" appIntersectionObserverGrid>

  <app-markdown-card [cardMode]="true" [readonly]="false" class="first-child-container"></app-markdown-card>
  <ng-container *ngFor="let card of filteredResult; trackBy: trackByFn">
    <div class="active-element" style="min-height: 200px" appIntersectionObserverElement
         #intersection="intersection"
         [ngSwitch]="intersection.isIntersecting">
      <ng-container *ngSwitchCase="intersection.IS_INTERSECTING">
        <app-card *ngIf="intersection.isIntersecting" [card]="card"></app-card>
      </ng-container>
    </div>


  </ng-container>

</div>

