
:host {
  width: 100vw;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, calc(var(--card-width) * 3));

  }

  .first-child-container {
    grid-column: span 2;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fit, calc(var(--card-width) * 2));
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(auto-fit, var(--card-width));
    display: grid;
  }

  :host {
    flex: 1;
  }

}

.container {
  justify-content: center;
  padding-top: 10px;
  grid-gap: 10px;
  display: grid;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}
.batch-action-wrapper {

  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  transform: translateY(15px);
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  transition: 0.3s opacity ease-out, 0.3s visibility ease-out, 0.3s transform ease-out;
  .batch-action {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
    align-items: center;
    padding: 15px 30px;
    border-radius: 8px;
    background: var(--component-background);
    box-shadow: var(--border-shadow);
    width: 80%;
    border: 1px solid #B8C3D3;
  }

}

.ws-status {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}
.head {
  display: grid;
  grid-template-columns: repeat(1, min-content auto);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 5px;
  align-items: center;
  grid-column-gap: 10px;
  margin: 0 10px 0 10px;
}

.active-element:hover {
  border: 1px solid #B8C3D3;
  cursor: pointer; // pour overrider stack exchange il faut le important
  border-radius: 8px;
  user-select: none;
}

.active-element {
  height: calc(var(--card-height) + 3px);
  border: 1px solid transparent;
  border-radius: 7px;
  user-select: none;
}

.selected-element {
  height: calc(var(--card-height) + 3px);
  border: 1px solid #FF5924;
  border-radius: 7px;
}
.selected-element:hover {
  height: calc(var(--card-height) + 3px);
  border: 1px solid #FF5924;
  border-radius: 7px;
}

.toolbox {
  grid-area: 2 / 2 / 3 / 3;
  overflow-y: auto;
}
