
:host {
  width: 100vw;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, 48%);

  }

  .first-child-container {
    grid-column: span 2;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fit, 32%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(auto-fit, 16%);
    display: grid;
  }

  :host {
    flex: 1;
  }

}

.container {
  justify-content: center;
  padding-top: 10px;
  grid-gap: 10px;
  display: grid;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}
.batch-action-wrapper {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  transform: translateY(15px);
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  transition: 0.3s opacity ease-out, 0.3s visibility ease-out, 0.3s transform ease-out;
  .batch-action {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
    align-items: center;
    padding: 15px 30px;
    border-radius: 8px;
    background: var(--component-background);
    box-shadow: 8px 8px 33px rgb(86 96 112 / 20%);
    width: 80%;
    border: 1px solid #B8C3D3;
  }

}
.search {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  grid-gap: 10px;
  .ws-status {
    height: 10px;
    width: 10px;
    border-radius: 10px;

  }

  .input {
    border-radius: 8px;
    height: 40px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
}


.active-element:hover {
  border: 1px solid #B8C3D3;
  cursor: pointer; // pour overrider stack exchange il faut le important
  border-radius: 8px;
}

.active-element {
  height: 323px;
  border: 1px solid transparent;
  border-radius: 7px;
}
.selected-element {
  height: 323px;
  border: 1px solid #FF5924;
  border-radius: 7px;
}
.selected-element:hover {
  height: 323px;
  border: 1px solid #FF5924;
  border-radius: 7px;
}
