@import (optional, reference) "../../../theme";


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, 48%);

  }

  .first-child-container {
    grid-column: span 2;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fit, 32%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(auto-fit, 19%);
    display: grid;
  }


}

.container {
  justify-content: center;
  padding-top: 10px;
  grid-gap: 10px;
  display: grid;
  background-color: @body-background;
  scroll-behavior: smooth;
}

.search {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  background-color: @body-background;
  .input {
    border-radius: 8px;
    height: 40px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
}


.active-element:hover {
  border: 1px solid #B8C3D3;
  cursor: pointer; // pour overrider stack exchange il faut le important
  border-radius: 8px;
}

.active-element {
  height: @card-size;
  border: 1px solid transparent;
  border-radius: 8px;
}
