<div class="card" *ngIf="card.thingType === cardsType.LINK" (contextmenu)="contextMenu($event, menu)">
  <!-- Image à la une -->
  <div class="card-image flex-vertical">
    <img src="{{card.image}}" alt="{{card.imageAlt}}" class="card-image-content default-image" appImgFallback>

    <p nz-typography class="card-image-desc">{{card.desc}}</p>
    <a nz-typography nzEllipsis href="{{card.url}}" target="_blank" class="card-image-desc">{{card.url}}</a>
  </div>

  <!-- Fin du corp de notre carte -->
</div>

<ng-container *ngIf="card.thingType === cardsType.MARKDOWN">
  <app-markdown-card (contextmenu)="contextMenu($event, menu)" [readonly]="true" [cardMode]="true" [content]="card.markdown" [id]="card.id"></app-markdown-card>
</ng-container>

<div class="card tweet" *ngIf="card.thingType === cardsType.TWEET" (contextmenu)="contextMenu($event, menu)">
  <div class="card-image flex-vertical">
    <img src="../../../assets/image/twitter_logo.png" alt="twitter logo" class="card-image-content tweet-image">

    <div [innerHTML]="card.html"></div>
  </div>

</div>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item nzDanger (click)="deleteCard()"><span nz-icon nzType="delete" nzTheme="outline"></span> Delete Card</li>
  </ul>
</nz-dropdown-menu>
