
:host {
  border-radius: 8px;
}
.card-image {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background-size: cover;
  border-radius: 8px;
  background: linear-gradient(#00467f, #a5cc82) fixed;

  .card-image-element {
    border-radius: 8px;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .card-image-content {
    max-height: 100%;
    border-radius: 8px;

  }

  .description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #000000b3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
  }

  .card-image-content.default-image {
    object-fit: cover;
  }

  .card-image-content.tweet-image {
    object-fit: contain;
    max-height: 34%;
  }

  .card-image-desc {
    text-align: center;
    color: white;
  }
}

.card-tweet {
  background-color: var(--tweet-background);
  .tweet-content {
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

}




